* {
    padding: 0;
    margin: 0;
}

/* language switch button */
.lang-switch {
    position: absolute;
    top: 1rem;
    right: 1rem;
    z-index: 9999;

    padding: 4px 10px;
    font-size: 0.8rem;
    text-decoration: none;

    color: #ffc0cb;
    border: 1px solid #ffc0cb;
    border-radius: 4px;
}

.lang-switch:hover {
    background: #ffc0cb;
    color: #000;
}

body {
    background: #000;
    height: 100vh;
    overflow: hidden;
}

body::after {
    content: '';
    display: block;
    position: absolute;
    width: 100%;
    height: 100vh;
    -webkit-background-color: rgba(0, 0, 0, 0.5);
    background-color: rgba(0, 0, 0, 0.5);
    pointer-events: none;
}

audio,
.love_you {
    position: absolute;
    left: 50%;
    top: 1.5rem;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
    z-index: 1809185784;
}

.love_you {
    top: 45%;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 1.3rem;
    font-weight: bold;
    color: #ffc0cb;
    letter-spacing: .05rem;
    -moz-animation: love-xf 1.2s alternate ease-in-out;
    -webkit-animation: love-xf 1.2s alternate ease-in-out;
    animation: love-xf 1.2s alternate ease-in-out;
    user-select: none;
    -webkit-text-shadow: 0 0 8px #fff;
    text-shadow: 0 0 8px #fff;
}

/* input box */
#input {
    background: #000;
    color: #ffc0cb;
    border: 0.8px solid #ffc0cb;
    border-radius: 5px;
    padding: 5px;
}

#input::placeholder {
    color: rgba(255, 192, 203, 0.6);
}

#inputView>div {
    margin-bottom: 5px;
}

/* 生成 button */
#confirm {
    padding: 5px 14px;
    font-size: 1.2rem;
}

#lovexf {
    position: absolute;
    width: 100%;
    height: 100%;
    height: 100svh;
    pointer-events: none;
    z-index: 1;
}

@keyframes love-xf {
    0% {
        opacity: 0.08;
        filter: blur(8px);
        letter-spacing: .1rem;
    }

    100% {
        opacity: 1;
        filter: blur(0);
        letter-spacing: .05rem;
    }
}

/* small screen support */
@media (max-width: 480px) {
    .lang-switch {
        top: 0.5rem;
        right: 0.5rem;

        padding: 2px 6px;
        font-size: 0.65rem;
        border-radius: 3px;
    }

    /* move input slightly up */
    #inputView {
        top: 45%;
    }

    /* input box */
    #input {
        width: 120px;
        height: 5px;
        font-size: 0.75rem;
        padding: 8px;
    }

    /* 生成 button */
    #confirm {
        padding: 5px 14px;
        font-size: 0.75rem;
    }

    /* middle three elements */
    .van-cell__title.van-field__label {
        text-align: center !important;
        display: flex;
        justify-content: center;
    }

    .van-cell__title.van-field__label label {
        display: inline-block;
    }

    /* audio player */
    audio {
        width: 60%;
        height: 40px;
    }

    #confirm {
        touch-action: manipulation;
    }

}