* {
    padding: 0;
    margin: 0;
}

body {
    background: #000;
    height: 100vh;
    overflow: hidden;
}

body::after {
    content: '';
    display: block;
    position: absolute;
    width: 100%;
    height: 100vh;
    -webkit-background-color: rgba(0, 0, 0, 0.5);
    background-color: rgba(0, 0, 0, 0.5);
}

audio,
.love_you {
    position: absolute;
    left: 50%;
    top: 1.5rem;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
    z-index: 1809185784;
}

.love_you {
    top: 45%;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 1.3rem;
    font-weight: bold;
    color: #ffc0cb;
    letter-spacing: .05rem;
    -moz-animation: love-xf 1.2s alternate ease-in-out;
    -webkit-animation: love-xf 1.2s alternate ease-in-out;
    animation: love-xf 1.2s alternate ease-in-out;
    user-select: none;
    -webkit-text-shadow: 0 0 8px #fff;
    text-shadow: 0 0 8px #fff;
}

/* Input box color match */
#input {
    background: #000;
    color: #ffc0cb;
    border: 0.8px solid #ffc0cb;
    border-radius: 5px;
    padding: 5px;
}

#input::placeholder {
    color: rgba(255, 192, 203, 0.6);
}

#inputView>div {
    margin-bottom: 5px;
}

#lovexf {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 520;
    height: 100svh;
}

@keyframes love-xf {
    0% {
        opacity: 0.08;
        filter: blur(8px);
        letter-spacing: .1rem;
    }

    100% {
        opacity: 1;
        filter: blur(0);
        letter-spacing: .05rem;
    }
}

/* small screen support */
@media (max-width: 480px) {

    /* move input slightly up */
    #inputView {
        top: 40%;
    }

    /* input */
    #input {
        width: 180px;
        font-size: 0.9rem;
        padding: 8px;
    }

    /* button */
    #confirm {
        padding: 5px 14px;
        font-size: 0.9rem;
    }

    /* heart text */
    .love_you {
        font-size: 1.1rem;
    }

    /* middle three elements */
    .van-cell__title.van-field__label {
        text-align: center !important;
        display: flex;
        justify-content: center;
    }

    .van-cell__title.van-field__label label {
        display: inline-block;
    }

    /* audio player */
    audio {
        width: 60%;
        height: 40px;
    }

    #confirm {
        touch-action: manipulation;
    }

}